body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #575757;
}

.nav-left {
    font-size: 18px;
}

.nav-right a {
    margin-left: 10px;
}


.main-content {
    text-align: center;
    padding: 20px;
}


.like-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.like-btn:hover {
    background-color: #45a049;
}
